body {
    font-family: Arial, sans-serif;
    background-color: palegoldenrod;
    color: black;
    margin: 20px;
}

form {
    max-width: 350px;
    margin: auto;
    border: 1px solid;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
border-collapse: collapse;
border:1px;
bordercolor: Black;

}

th, td {
  padding: 15px;
  border-style: none;
}

div {
  border-style: solid;}


input, select, textarea {
    width: 75%;
    padding: 10px;
    margin-bottom: 10px;

}

font1 {color: blue;}
font2 {color: red;}

button {
    padding: 8px;
    background-color: silver;
    border: 1px solid #ccc;

}

button:hover {
    background-color: #0056b3;
}